{% extends 'blog/base.html' %}
{% block body-block %}
<div class="container-fliud">
    <h2>Please login:</h2>
    <h3>(must be a super user, please check the site admin)</h3>
    {% if form.errors %}
        <p>The username and password didn't match Please try again</p>
    {% endif %}
    <form action="{% url 'login' %}" method="POST">
        {% csrf_token %}
        {{form.as_p}}
        <input type="submit" class="btn btn-primary" value="Login">
        <input type="hidden" name="next" value="{{next}}">
    </form>
</div>

{% endblock %}
